# Signature Examples

In [1]:
from clustergrammer2 import Network, CGM2
import pandas as pd
df = {}

>> clustergrammer2 backend version 0.15.2

In [2]:
net = Network(CGM2)

In [3]:
df['data'] = pd.read_csv('rc_two_cat_clean.csv', index_col=0)
df['meta_col'] = pd.read_csv('meta_col.csv', index_col=0)
df['data'].shape

(38, 29)

In [10]:
df['meta_cat_col'] = pd.DataFrame()
df['meta_cat_col'].loc['Cat', 'color'] = 'red'
df['meta_cat_col'].loc['Dog', 'color'] = 'yellow'
df['meta_cat_col'].loc['Shark', 'color'] = 'black'
df['meta_cat_col'].loc['Snake', 'color'] = 'blue'
df['meta_cat_col'].loc['Lizard', 'color'] = 'green'
df['meta_cat_col']

         color
Cat        red
Dog     yellow
Shark    black
Snake     blue
Lizard   green

In [15]:
col_cats = ['Category', 'Gender']

In [26]:
n1 = Network(CGM2)
n1.load_df(df['data'], meta_col=df['meta_col'], col_cats=col_cats)
n1.set_global_cat_colors(df['meta_cat_col'])
n1.set_manual_category(col='Category', preferred_cats=df['meta_cat_col'])
n1.widget()

CGM2(manual_cat='{"col": {"col_cat_colors": {"Category: Lizard": "#393b79", "Category: Shark": "#ff7f0e", "Catâ€¦

In [31]:
df['sig'], df['diff'] = net.generate_signatures(df['data'], df['meta_col'], 'Category', num_top_dims=50)

In [32]:
df['sig'].shape

(38, 5)

In [36]:
df['diff']['STK32A - High']

        P-values  BH P-values  Log2 Fold Change  Cluster Mean  All Other Mean
STK32A  0.000146     0.005532               NaN      2.378840       -0.231054
GRK1    0.002721     0.051694               NaN     -0.703138        0.447128
NPR1    0.009708     0.122972               NaN     -0.396618        0.711030
STK31   0.016791     0.159510          2.527950      1.685688        0.292273
MYLK3   0.037872     0.235029               NaN     -0.327794        0.807975
MAPK4   0.038348     0.235029               NaN     -0.553617        0.187121
ULK4    0.043332     0.235029               NaN     -0.450512        0.325201
INSRR   0.065024     0.235029               NaN     -0.349907        0.239087
LATS1   0.065363     0.235029               NaN     -0.134205        0.638761
TGFBR1  0.069243     0.235029               NaN     -0.406233        0.247441
ERBB2   0.070538     0.235029               NaN      0.788997       -0.079155
STK39   0.074220     0.235029               NaN      0.301577       -0.339044
KDR     0.129761     0.367034               NaN      0.636480       -0.172701
MAPK11  0.135223     0.367034               NaN     -0.483695        0.357245
PDGFRA  0.152582     0.378563          1.837231     -0.469688       -0.131446
SRC     0.159395     0.378563               NaN     -0.184997        0.354828
CAMK2B  0.197171     0.417330          2.524991     -0.513020       -0.089132
NRK     0.208935     0.417330          3.138611      1.192566        0.135415
IRAK1   0.247052     0.417330               NaN      0.507860       -0.039477
LRRK2   0.251711     0.417330               NaN     -0.324159        0.056672
GRK4    0.255352     0.417330          1.916223     -0.491986       -0.130350
PRKCE   0.259055     0.417330               NaN     -0.171383        0.147211
EGFR    0.268185     0.417330          1.454276      0.729963        0.266391
NEK9    0.268803     0.417330               NaN      0.026500       -0.331526
PDK4    0.280630     0.417330               NaN     -0.067213        0.334823
DCLK3   0.285542     0.417330          4.376367     -0.446150       -0.021481
SRPK3   0.313335     0.433977               NaN     -0.322423        0.015120
AAK1    0.319772     0.433977               NaN      0.339695       -0.035963
ROS1    0.341920     0.439725          4.619009      1.108671        0.045117
UHMK1   0.347152     0.439725          1.517901      0.507679        0.177278
CDK4    0.390452     0.478619          1.632304      0.694873        0.224147
MAP2K4  0.467962     0.555705               NaN     -0.139117        0.380081
ERBB4   0.618274     0.711951          1.292154     -0.248367       -0.101418
PAK3    0.823205     0.888284               NaN      0.033226       -0.050301
PRKG2   0.835937     0.888284          0.396315      0.337687        0.256574
STK24   0.841532     0.888284          0.385966     -0.861585       -0.659342
LMTK3   0.901537     0.925902          0.203110      0.387967        0.337018
TBK1    0.974208     0.974208         -0.063181      0.472937        0.494109

In [34]:
n2 = Network(CGM2)
n2.load_df(df['sig'])
n2.widget()

CGM2(network='{"row_nodes": [{"name": "AAK1", "ini": 38, "clust": 25, "rank": 15, "rankvar": 16}, {"name": "CAâ€¦